<div class="memberContainer" ng-show="showMovie" ng-controller="MoviecardController as vm">
  <div class="memberDetailBg" ng-click="vm.hideMovie()"> <!-- TODO -->
    <div class="memberDetail" ng-click="$event.stopPropagation()">
      <h2>{{vm.movie.Title}}</h2>
      <p>{{vm.movie.Year}}</p>
      <span ng-repeat="g in vm.movie.Genre">
        {{g}}
      </span>
      <p>{{vm.movie.Director}}</p>
      <span ng-repeat="a in vm.movie.Actors">{{a}}</span>
      <div>
        <a href="http://www.imdb.com/title/{{vm.movie.imdbID}}">{{vm.movie.imdbRating}}</a>
      </div>
      <div class="form-group">
      	<div class="btn btn-primary btn-sm" ng-click="vm.hideMovie()">Close</div>
      </div>
    </div>
  </div>
</div>