<section id="dashboard-view" class="mainbar">
  <section class="matter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="today-datas">
            <li class="blightblue">
              <div class="pull-left"><i class="fa fa-calendar"></i></div>
              <div class="datas-text pull-right">
                <span class="bold">{{vm.currentDate | date:'mediumDate'}}</span> Current Date
              </div>
              <div class="clearfix"></div>
            </li>

            <li class="borange">
              <div class="pull-left"><i class="fa fa-film"></i></div>
              <div class="datas-text pull-right">
                <span class="bold">{{vm.movieCount}}</span> Movies rented
              </div>
              <div class="clearfix"></div>
            </li>

          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="widget wviolet">
            <div ht-widget-header title="Members and their rented DVD's" allow-collapse="true"></div>
            <div class="widget-content text-center text-info">
              <table class="table table-condensed table-striped">
                <thead>
                  <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Rented Movies</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="p in vm.membersWithMovies" class="memberTable">
                    <td>{{p.firstName}}</td>
                    <td>{{p.lastName}}</td>
                    <td><a href="emailto:{{p.email}}">{{p.email}}</a></td>
                    <td class="rentedMovies">{{p.rentedMovies.length}}<div class="rentedMoviesHover"><p ng-repeat="m in p.rentedMovies">{{m.title}}</p></div></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="widget-foot">
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="widget wgreen">
            <div ht-widget-header title="{{vm.news.title}}" allow-collapse="true"></div>
            <div class="widget-content text-center text-info">
              <table class="table table-condensed table-striped">
                <tbody>
                  <tr ng-repeat="m in vm.rentedMovieObjects" ng-class="{'warning': vm.warning, 'danger': vm.alert}">
                    <td>{{m.title}}</td>
                    <td ng-bind="vm.timerView[vm.rentedMovieObjects.indexOf(m)]"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="widget-foot">
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>