<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget worange">
                    <div ht-widget-header title="{{vm.title}}"></div>
                    <div class="widget-content user">
                        <div class="col-lg-6">
                            <label for="newUserForm"><button class="btn btn-default" 
                                                             type="button"
                                                             data-toggle="collapse"
                                                             data-target="#newUserForm"
                                                             aria-expanded="false"
                                                             aria-controls="newUserForm">Add New Member</button>
                            </label>
                            <form 
                                  class="form-horizontal"
                                  ng-class="vm.hideForm"
                                  id="newUserForm" 
                                  name="newUser"
                                  ng-submit="vm.onSubmit()"
                                  novalidate="novalidate">

                                <ht-form-group
                                    label-class="col-sm-2"
                                    label="First Name"
                                    input-div-class="col-sm-10"
                                    input-name="firstName"
                                    input-type="text"
                                    form-group-model="vm.newPerson.firstName"
                                    ></ht-form-group>

                                <ht-form-group
                                    label-class="col-sm-2"
                                    label="Last Name"
                                    input-div-class="col-sm-10"
                                    input-name="lastName"
                                    input-type="text"
                                    form-group-model="vm.newPerson.lastName"
                                    ></ht-form-group>

                                <ht-form-group
                                    label-class="col-sm-2"
                                    label="Gender"
                                    input-div-class="col-sm-10"
                                    input-class=""
                                    input-name="gender"
                                    input-type="radio"
                                    form-group-model="vm.newPerson.gender"
                                    value="female"
                                    text="Female"
                                    >
                                    <input ng-model="vm.newPerson.gender" type="radio" name="gender" value="male">Male
                                </ht-form-group>

                                <ht-form-group
                                    label-class="col-sm-2"
                                    label="Your Email"
                                    input-div-class="col-sm-10"
                                    input-name="email"
                                    input-type="email"
                                    form-group-model="vm.newPerson.email"
                                    ></ht-form-group>

                                <ht-form-group
                                    label-class="col-sm-2"
                                    label="Phone number"
                                    input-div-class="col-sm-10"
                                    input-name="phone"
                                    input-type="tel"
                                    form-group-model="vm.newPerson.phone"
                                    ></ht-form-group>

                                <div class="form-group">
                                    <div class="col-sm-2-offset col-sm-10">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                        <button type="reset" class="btn btn-primary">Reset</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6">
                            <button class="btn btn-default pull-right" type="button" ng-click="vm.updateCache()">Refresh</button>
                            <input class="pull-right" ng-model="vm.searchMembers" type="text" placeholder="Search..">
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-3 text-center" ng-repeat="m in vm.members | filter:vm.searchMembers">
                                <member-card first-name="{{m.firstName}}"
                                             last-name="{{m.lastName}}"
                                             phone="{{m.phone}}"
                                             email="{{m.email}}">
                                </member-card>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>