<section class="mainbar">
  <section class="matter">
    <div class="container">
      <div class="row">
        <div class="widget wviolet">
          <div ht-widget-header title="{{vm.title}}"></div>
          <div class="widget-content user">
            <div class="container">
              <div class="row">
                <h3 class="col-md-12">DVD's to rent..</h3>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group pull-left">
                    <input type="text" placeholder="Search for movie.." autocomplete="off">
                  </div>
                  <button class="btn btn-default btn-xs"
                          type="button"
                          data-toggle="collapse"
                          data-target="#collapseForm"
                          aria-expanded="false"
                          aria-controls="collapseForm">Advanced Search</button>
                </div>
              </div>
              <div class="row">
                <div class="collapse col-lg-12" id="collapseForm">
                  <input type="text" placeholder="Title.." ng-model="vm.searchCriteria.movieTitle">
                  <input type="text" placeholder="Director.." ng-model="vm.searchCriteria.director">
                  <input type="text" placeholder="Actor.." ng-model="vm.searchCriteria.actor">
                  <input type="text" placeholder="Genre.." ng-model="vm.searchCriteria.genre">
                  <select name="dates" id="dates" ng-model="vm.searchCriteria.releaseDate">
                    <option disabled selected>Release Date..</option>
                    <option value=""></option>
                    <option ng-repeat="d in vm.releaseDates" value="{{d}}">{{d}}</option>
                  </select>
                  <!-- <input type="number" placeholder="Release Date.." ng-model="vm.searchCriteria.releaseDate"> -->
                </div>
              </div>
            </div>
          </div>
          <div class="well">
            <div class="row">
              <div class="col-lg-3 text-center " ng-repeat="m in vm.movies"> <!-- TODO custom filter -->
                <movie-card title="{{m.Title}}"
                            year="{{m.Year}}"
                            poster="{{m.Poster}}">
                </movie-card>
              </div>
            </div>
          </div>
          <!-- <div class="widget-foot">
            <div class="clearfix"></div>
          </div> -->
        </div>
      </div>
    </div>
  </section>
</section>