<section class="mainbar">
  <section class="matter">
    <div class="container">
      <div class="row">
        <div class="widget wviolet">
          <div ht-widget-header title="{{vm.title}}"></div>
          <div class="widget-content user">
            <div class="container">
              <div class="row">
                <h3 class="col-md-12">DVD's to rent..</h3>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group pull-left">
                    <input type="text" placeholder="Search for movie.." autocomplete="off" ng-model="vm.searchCriteria.$">
                  </div>
                  <button class="btn btn-default btn-xs"
                          type="button"
                          data-toggle="collapse"
                          data-target="#collapseForm"
                          aria-expanded="false"
                          aria-controls="collapseForm">Advanced Search</button>
                </div>
              </div>
              <div class="row">
                <div class="collapse col-lg-12" id="collapseForm">
                  <input type="text" placeholder="Title.." autocomplete="off" ng-model="vm.searchCriteria.Title">
                  <input type="text" placeholder="Director.." autocomplete="off" ng-model="vm.searchCriteria.Director">
                  <input type="text" placeholder="Actor.." autocomplete="off" ng-model="vm.searchCriteria.Actors">
                  <input type="text" placeholder="Genre.." autocomplete="off" ng-model="vm.searchCriteria.Genre">
                  <select name="dates" id="dates"
                          ng-model="vm.searchCriteria.Year"
                          ng-options="date for date in vm.releaseDates"> <!-- TODO: after deselecting year, movies disappear -->
                    <option value=""></option>
                  </select>
                  <span>{{vm.searchCriteria.Year}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="well">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-6 text-center" ng-repeat="m in vm.movies | filter:vm.searchCriteria | startFrom: (vm.currentPage-1)*vm.pageSize | limitTo: vm.pageSize">
                <movie-card title="{{m.Title}}"
                            year="{{m.Year}}"
                            poster="{{m.Poster}}">
                </movie-card>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 text-center">
                <uib-pagination total-items="vm.movies.length" ng-model="vm.currentPage" items-per-page="vm.pageSize"></uib-pagination>
              </div>
            </div>
          </div>
          <!-- <div class="widget-foot">
            <div class="clearfix"></div>
          </div> -->
        </div>
      </div>
    </div>
  </section>
</section>